h1
{
    text-align: center;
    text-transform: capitalize;
}


.column{

    /* border:5px double pink; */
    margin:20px;
    display: flex;
    flex-direction: row;
  

}
.column2{
    /* border:5px double pink; */

    margin:20px;
    display: flex;
    flex-direction: column;
  

}


label ,p{
    background-image: linear-gradient(120deg,green,red);
    width:500px;
    /* margin-top: 20px; */
    padding: 20px;
    display: block;
    /* border:5px solid blue; */
    
    font-size: 30px;
    font-weight: bold;
    /* padding-left: px; */
}
a{
    boder:5px dashed red;
    font-size: 20px;
    align-content: center;
}
img{
    /* flex-direction: column; */   
    /* display: inline; */
    /* align-content:flex-start; */
    /* border:5px solid red; */
    width:800px;
    margin-left: 30px;
    height:500px;
    
    
 
}